@font-face { 
	font-family: 'arial'; 
	src:  url('../fonts/arial.ttf') format('truetype'); 
}

@font-face { 
	font-family: 'arialbold'; 
	src:  url('../fonts/arialbold.ttf') format('truetype'); 
}

@font-face { 
	font-family: 'daycare'; 
	src:  url('../fonts/daycare.ttf') format('truetype'); 
}

@font-face { 
	font-family: 'heycomic'; 
	src:  url('../fonts/heycomic.ttf') format('truetype'); 
}

@font-face { 
	font-family: 'tahoma'; 
	src:  url('../fonts/tahoma.ttf') format('truetype'); 
}

